
.bg-img-sm {
  min-height: 15rem;
  background-size: cover;
  background-position: center;
}

.about-founders {
  .founders-img {
    min-height: 20rem;
    background-size: cover;
    background-position: center;
  }
}
