---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 20px;
}

article, #main .archive {
  font-size: 0.85em;
}

.masthead__inner-wrap {
  padding: 0 1em;
}

.author__bio {
  color: #666;
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 0.625rem;
  letter-spacing: 0.15em;
  line-height: 1;
  margin: 0.25em 0 0;
  text-transform: uppercase;
}
